/* <--------------------------------Panorama--------------------------------> */
.panorama-01{
    background-image: url(../assets/sliders/panorama/panorama-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.panorama-02{
    background-image: url(../assets/sliders/panorama/panorama-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.panorama-03{
    background-image: url(../assets/sliders/panorama/panorama-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.panorama-04{
    background-image: url(../assets/sliders/panorama/panorama-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.panorama-05{
    background-image: url(../assets/sliders/panorama/panorama-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------Padel-warehouse--------------------------------> */

.padel-warehouse-01{
    background-image: url(../assets/sliders/padel-warehouse/padel-warehouse-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.padel-warehouse-02{
    background-image: url(../assets/sliders/padel-warehouse/padel-warehouse-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.padel-warehouse-03{
    background-image: url(../assets/sliders/padel-warehouse/padel-warehouse-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.padel-warehouse-04{
    background-image: url(../assets/sliders/padel-warehouse/padel-warehouse-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.padel-warehouse-05{
    background-image: url(../assets/sliders/padel-warehouse/padel-warehouse-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.padel-warehouse-06{
    background-image: url(../assets/sliders/padel-warehouse/padel-warehouse-desktop-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------Mansión Folclor--------------------------------> */
.mansion-folclor-01{
    background-image: url(../assets/sliders/mansion-folclor/mansion-folclor-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mansion-folclor-02{
    background-image: url(../assets/sliders/mansion-folclor/mansion-folclor-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mansion-folclor-03{
    background-image: url(../assets/sliders/mansion-folclor/mansion-folclor-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mansion-folclor-04{
    background-image: url(../assets/sliders/mansion-folclor/mansion-folclor-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mansion-folclor-05{
    background-image: url(../assets/sliders/mansion-folclor/mansion-folclor-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mansion-folclor-06{
    background-image: url(../assets/sliders/mansion-folclor/mansion-folclor-desktop-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------Printa--------------------------------> */
.printa-01{
    background-image: url(../assets/sliders/printa/printa-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.printa-02{
    background-image: url(../assets/sliders/printa/printa-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.printa-03{
    background-image: url(../assets/sliders/printa/printa-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.printa-04{
    background-image: url(../assets/sliders/printa/printa-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.printa-05{
    background-image: url(../assets/sliders/printa/printa-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.printa-06{
    background-image: url(../assets/sliders/printa/printa-desktop-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.printa-07{
    background-image: url(../assets/sliders/printa/printa-desktop-07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------Academia Altozano--------------------------------> */
.academia-altozano-01{
    background-image: url(../assets/sliders/academia-altozano/academia-altozano-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.academia-altozano-02{
    background-image: url(../assets/sliders/academia-altozano/academia-altozano-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.academia-altozano-03{
    background-image: url(../assets/sliders/academia-altozano/academia-altozano-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.academia-altozano-04{
    background-image: url(../assets/sliders/academia-altozano/academia-altozano-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.academia-altozano-05{
    background-image: url(../assets/sliders/academia-altozano/academia-altozano-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------Dos Cimas--------------------------------> */
.dos-cimas-01{
    background-image: url(../assets/sliders/dos-cimas/dos-cimas-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dos-cimas-02{
    background-image: url(../assets/sliders/dos-cimas/dos-cimas-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dos-cimas-03{
    background-image: url(../assets/sliders/dos-cimas/dos-cimas-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dos-cimas-04{
    background-image: url(../assets/sliders/dos-cimas/dos-cimas-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dos-cimas-05{
    background-image: url(../assets/sliders/dos-cimas/dos-cimas-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------Centro Ejecutivo--------------------------------> */
.centro-ejecutivo-01{
    background-image: url(../assets/sliders/centro-ejecutivo/centro-ejecutivo-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.centro-ejecutivo-02{
    background-image: url(../assets/sliders/centro-ejecutivo/centro-ejecutivo-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.centro-ejecutivo-03{
    background-image: url(../assets/sliders/centro-ejecutivo/centro-ejecutivo-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.centro-ejecutivo-04{
    background-image: url(../assets/sliders/centro-ejecutivo/centro-ejecutivo-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.centro-ejecutivo-05{
    background-image: url(../assets/sliders/centro-ejecutivo/centro-ejecutivo-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.centro-ejecutivo-06{
    background-image: url(../assets/sliders/centro-ejecutivo/centro-ejecutivo-desktop-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------Mhuna--------------------------------> */
.mhuna-01{
    background-image: url(../assets/sliders/Mhuna/mhuna-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mhuna-02{
    background-image: url(../assets/sliders/Mhuna/mhuna-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mhuna-03{
    background-image: url(../assets/sliders/Mhuna/mhuna-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mhuna-04{
    background-image: url(../assets/sliders/Mhuna/mhuna-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mhuna-05{
    background-image: url(../assets/sliders/Mhuna/mhuna-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------Palü Summer Camp--------------------------------> */
.palu-01{
    background-image: url(../assets/sliders/palu/palu-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.palu-02{
    background-image: url(../assets/sliders/palu/palu-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.palu-03{
    background-image: url(../assets/sliders/palu/palu-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.palu-04{
    background-image: url(../assets/sliders/palu/palu-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------Navarra--------------------------------> */
.navarra-01{
    background-image: url(../assets/sliders/navarra/navarra-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navarra-02{
    background-image: url(../assets/sliders/navarra/navarra-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navarra-03{
    background-image: url(../assets/sliders/navarra/navarra-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navarra-04{
    background-image: url(../assets/sliders/navarra/navarra-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navarra-05{
    background-image: url(../assets/sliders/navarra/navarra-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------The Convention 2021 y 2022--------------------------------> */
.the-convention-01{
    background-image: url(../assets/sliders/the-convention/the-convention-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.the-convention-02{
    background-image: url(../assets/sliders/the-convention/the-convention-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.the-convention-03{
    background-image: url(../assets/sliders/the-convention/the-convention-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.the-convention-04{
    background-image: url(../assets/sliders/the-convention/the-convention-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.the-convention-05{
    background-image: url(../assets/sliders/the-convention/the-convention-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.the-convention-06{
    background-image: url(../assets/sliders/the-convention/the-convention-desktop-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* <--------------------------------Ezlabon--------------------------------> */
.ezlabon-01{
    background-image: url(../assets/sliders/ezlabon/ezlabon-desktop-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ezlabon-02{
    background-image: url(../assets/sliders/ezlabon/ezlabon-desktop-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ezlabon-03{
    background-image: url(../assets/sliders/ezlabon/ezlabon-desktop-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ezlabon-04{
    background-image: url(../assets/sliders/ezlabon/ezlabon-desktop-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ezlabon-05{
    background-image: url(../assets/sliders/ezlabon/ezlabon-desktop-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}





@media screen and (max-width: 858px){
/* <--------------------------------Panorama { Mobile }--------------------------------> */
    .panorama-01{
        background-image: url(../assets/sliders/panorama/mobile/panorama-mobile-01.jpg);
    }

    .panorama-02{
        background-image: url(../assets/sliders/panorama/mobile/panorama-mobile-02.jpg);
    }

    .panorama-03{
        background-image: url(../assets/sliders/panorama/mobile/panorama-mobile-03.jpg);
    }

    .panorama-04{
        background-image: url(../assets/sliders/panorama/mobile/panorama-mobile-04.jpg);
    }

    .panorama-05{
        background-image: url(../assets/sliders/panorama/mobile/panorama-mobile-05.jpg);
    }

/* <--------------------------------Padel-warehouse { Mobile }--------------------------------> */
    .padel-warehouse-01{
        display: none;
    }

    .padel-warehouse-02{
        background-image: url(../assets/sliders/padel-warehouse/mobile/padel-warehouse-mobile-01.jpg);
    }

    .padel-warehouse-03{
        background-image: url(../assets/sliders/padel-warehouse/mobile/padel-warehouse-mobile-02.jpg);
    }

    .padel-warehouse-04{
        background-image: url(../assets/sliders/padel-warehouse/mobile/padel-warehouse-mobile-03.jpg);
    }

    .padel-warehouse-05{
        background-image: url(../assets/sliders/padel-warehouse/mobile/padel-warehouse-mobile-04.jpg);
    }

    .padel-warehouse-06{
        background-image: url(../assets/sliders/padel-warehouse/mobile/padel-warehouse-mobile-05.jpg);
    }

/* <--------------------------------Mansión Folclor { Mobile }--------------------------------> */
    .mansion-folclor-01{
        display: none;
    }

    .mansion-folclor-02{
        background-image: url(../assets/sliders/mansion-folclor/mobile/mansion-folclor-mobile-01.jpg);
    }

    .mansion-folclor-03{
        background-image: url(../assets/sliders/mansion-folclor/mobile/mansion-folclor-mobile-02.jpg);
    }

    .mansion-folclor-04{
        background-image: url(../assets/sliders/mansion-folclor/mobile/mansion-folclor-mobile-03.jpg);
    }

    .mansion-folclor-05{
        background-image: url(../assets/sliders/mansion-folclor/mobile/mansion-folclor-mobile-04.jpg);
    }

    .mansion-folclor-06{
        background-image: url(../assets/sliders/mansion-folclor/mobile/mansion-folclor-mobile-05.jpg);
    }

/* <--------------------------------Printa { Mobile }--------------------------------> */
    .printa-01{
        display: none;
    }

    .printa-02{
        display: none;
    }

    .printa-03{
        background-image: url(../assets/sliders/printa/mobile/printa-mobile-01.jpg);
    }

    .printa-04{
        background-image: url(../assets/sliders/printa/mobile/printa-mobile-02.jpg);
    }

    .printa-05{
        background-image: url(../assets/sliders/printa/mobile/printa-mobile-03.jpg);
    }

    .printa-06{
        background-image: url(../assets/sliders/printa/mobile/printa-mobile-04.jpg);
    }

    .printa-07{
        background-image: url(../assets/sliders/printa/mobile/printa-mobile-05.jpg);
    }

/* <--------------------------------Academia Altozano { Mobile }--------------------------------> */
    .academia-altozano-01{
        background-image: url(../assets/sliders/academia-altozano/mobile/academia-altozano-mobile-01.jpg);
    }

    .academia-altozano-02{
        background-image: url(../assets/sliders/academia-altozano/mobile/academia-altozano-mobile-02.jpg);
    }

    .academia-altozano-03{
        background-image: url(../assets/sliders/academia-altozano/mobile/academia-altozano-mobile-03.jpg);
    }

    .academia-altozano-04{
        background-image: url(../assets/sliders/academia-altozano/mobile/academia-altozano-mobile-04.jpg);
    }

    .academia-altozano-05{
        background-image: url(../assets/sliders/academia-altozano/mobile/academia-altozano-mobile-05.jpg);
    }

/* <--------------------------------Dos Cimas { Mobile }--------------------------------> */
    .dos-cimas-01{
        display: none;
    }

    .dos-cimas-02{
        background-image: url(../assets/sliders/dos-cimas/mobile/dos-cimas-mobile-01.jpg);
    }

    .dos-cimas-03{
        background-image: url(../assets/sliders/dos-cimas/mobile/dos-cimas-mobile-02.jpg);
    }

    .dos-cimas-04{
        background-image: url(../assets/sliders/dos-cimas/mobile/dos-cimas-mobile-03.jpg);
    }

    .dos-cimas-05{
        background-image: url(../assets/sliders/dos-cimas/mobile/dos-cimas-mobile-04.jpg);
    }

/* <--------------------------------Centro Ejecutivo { Mobile }--------------------------------> */
    .centro-ejecutivo-01{
        display: none;
    }

    .centro-ejecutivo-02{
        background-image: url(../assets/sliders/centro-ejecutivo/mobile/centro-ejecutivo-mobile-01.jpg);
    }

    .centro-ejecutivo-03{
        background-image: url(../assets/sliders/centro-ejecutivo/mobile/centro-ejecutivo-mobile-02.jpg);
    }

    .centro-ejecutivo-04{
        background-image: url(../assets/sliders/centro-ejecutivo/mobile/centro-ejecutivo-mobile-03.jpg);
    }

    .centro-ejecutivo-05{
        background-image: url(../assets/sliders/centro-ejecutivo/mobile/centro-ejecutivo-mobile-04.jpg);
    }

    .centro-ejecutivo-06{
        background-image: url(../assets/sliders/centro-ejecutivo/mobile/centro-ejecutivo-mobile-05.jpg);
    }

/* <--------------------------------Mhuna { Mobile }--------------------------------> */
    .mhuna-01{
        display: none;
    }

    .mhuna-02{
        background-image: url(../assets/sliders/Mhuna/mobile/mhuna-mobile-01.jpg);
    }

    .mhuna-03{
        background-image: url(../assets/sliders/Mhuna/mobile/mhuna-mobile-02.jpg);
    }

    .mhuna-04{
        background-image: url(../assets/sliders/Mhuna/mobile/mhuna-mobile-03.jpg);
    }

    .mhuna-05{
        background-image: url(../assets/sliders/Mhuna/mobile/mhuna-mobile-04.jpg);
    }

/* <--------------------------------Palü Summer Camp { Mobile }--------------------------------> */
    .palu-01{
        background-image: url(../assets/sliders/palu/mobile/palu-mobile-01.jpg);
    }

    .palu-02{
        background-image: url(../assets/sliders/palu/mobile/palu-mobile-02.jpg);
    }

    .palu-03{
        background-image: url(../assets/sliders/palu/mobile/palu-mobile-03.jpg);
    }

    .palu-04{
        background-image: url(../assets/sliders/palu/mobile/palu-mobile-04.jpg);
    }

    .palu-05{
        background-image: url(../assets/sliders/palu/mobile/palu-mobile-05.jpg);
    }

/* <--------------------------------Navarra { Mobile }--------------------------------> */
    .navarra-01{
        background-image: url(../assets/sliders/navarra/mobile/navarra-mobile-01.jpg);
    }

    .navarra-02{
        background-image: url(../assets/sliders/navarra/mobile/navarra-mobile-02.jpg);
    }

    .navarra-03{
        background-image: url(../assets/sliders/navarra/mobile/navarra-mobile-03.jpg);
    }

    .navarra-04{
        background-image: url(../assets/sliders/navarra/mobile/navarra-mobile-04.jpg);
    }

    .navarra-05{
        background-image: url(../assets/sliders/navarra/mobile/navarra-mobile-05.jpg);
    }

/* <--------------------------------The Convention 2021 y 2022 { Mobile }--------------------------------> */
    .the-convention-01{
        background-image: url(../assets/sliders/the-convention/mobile/the-convention-mobile-01.jpg);
    }

    .the-convention-02{
        background-image: url(../assets/sliders/the-convention/mobile/the-convention-mobile-02.jpg);
    }

    .the-convention-03{
        background-image: url(../assets/sliders/the-convention/mobile/the-convention-mobile-03.jpg);
    }

    .the-convention-04{
        background-image: url(../assets/sliders/the-convention/mobile/the-convention-mobile-04.jpg);
    }

    .the-convention-05{
        background-image: url(../assets/sliders/the-convention/mobile/the-convention-mobile-05.jpg);
    }

    .the-convention-06{
        background-image: url(../assets/sliders/the-convention/mobile/the-convention-mobile-06.jpg);
    }

/* <--------------------------------Ezlabon { Mobile }--------------------------------> */
    .ezlabon-01{
        background-image: url(../assets/sliders/ezlabon/mobile/ezlabon-mobile-01.jpg);
    }

    .ezlabon-02{
        background-image: url(../assets/sliders/ezlabon/mobile/ezlabon-mobile-02.jpg);
    }

    .ezlabon-03{
        background-image: url(../assets/sliders/ezlabon/mobile/ezlabon-mobile-03.jpg);
    }

    .ezlabon-04{
        background-image: url(../assets/sliders/ezlabon/mobile/ezlabon-mobile-04.jpg);
    }

    .ezlabon-05{
        background-image: url(../assets/sliders/ezlabon/mobile/ezlabon-mobile-05.jpg);
    }
}
